/* ------------ GLOBAL STYLES ------------ */

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: $offwhite;
    text-transform: uppercase;
    background-color: $offblack;
}

#pageHeader {
    padding-top: 50px;
    height: 100vh;
}

section {
    height: 100vh;
}

.full-width-on {
    width: 100vw;
}

/* ------------ LOADER STYLES ------------ */

#loader {
	height: 100vh;
	width: 100vw;
	z-index: 10000;
	position: fixed;
	background: $offblack;
	display: table;
	transition: all .75s ease;
}

#loader-container {
	display: table-cell;
	vertical-align: middle;
}

#img-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#img-container img {
	height: 100px;
	width: 100px;
	padding: 20px;
	border-radius: 50%;
	border: 3px solid $offwhite;
	transition: all .75s ease;
	animation: loader .75s infinite;
}

@keyframes loader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* ------------ NAVBAR STYLES ------------ */

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar, .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    //border-color: transparent;
    //background-color: transparent;
    border-color: $offblack;
    background-color: $offblack;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: $darkeroffwhite;
}

.navbar-brand>img {
    display: inline;
    vertical-align: top;
}

#mainNav {
    //position: absolute;
}

// hover animation
#mainNav li:hover {
    .anim-underline {
        //animation: underline .50s ease;
        width: 85%;
    }
}
.anim-underline {
    border-top: 2px solid $offwhite;
    width: 0;
    margin: 0 auto;
    transition: width .5s ease;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 10000;
}
/*@keyframes underline {
    from {width: 0};
    to {width: 30px;}
}*/

/* ------------ HEADER STYLES ------------ */

#pageHeader {
    text-align: center;
    
    h1 {
        padding: 20px;
        font-weight: bold;
        font-size: 1.8em;
        letter-spacing: 10px;
        border: 3px solid $offwhite;
        text-align: center;
    }
    
    h2 {
        margin-top: 30px;
        font-size: .8em;
        letter-spacing: 5px;
        font-weight: bold;
    }
    
    .horule {
        margin-top: 7px;
        border-top: 2px solid $offwhite;
    }
    
    img {
        margin-left: auto;
        margin-right: auto;
    }
     p {
         padding-top: 20px;
         font-size: 9vw;
         line-height: 9vw;
     }
     .header-tagline {
         display: block;
     }
     .header-down {
         font-size: 30px;
         position: absolute;
         bottom: 20px;
         text-align: center;
         left: 48.5%;
     }
     a {
         color: $offwhite;
     }
}

//@media only screen and (min-width: 768px) and (max-width: 991px) {
//    #pageHeader h1 {
//        width: 60vw;
        //margin-right: auto;
        //margin-left: auto;
//    }
//}

@media only screen and (max-width: 480px) {
    #pageHeader h1 {
        font-size: 5vw;
        letter-spacing: 1.1vw;
        //width: 90vw;
    }
}

// header animation

