/* ------------ HEADER STYLES ------------ */

.background-image-container img {
        background-size: cover;
        opacity: 0.1;
        position: absolute;
        overflow: hidden;
}

.skill-container span[class="active"] {
    position: relative;
    display: block;
}

/*.skill-container span[class="next"] {
    left: 2000px;
    z-index: 5;
}

.skill-container span[class="previous"] {
    left: -2000px;
    z-index: 10;
}*/
/* ------------ iDo STYLES ------------ */

#iDo {
    background-color: $offwhite;
    color: $offblack;
    
    h1 {
        padding-top: 40px;
        text-align: center;
        font-weight: bold;
    }
    .section-body {
    	padding-top: 1vw;
    }
    .img-container {
        margin-right: auto;
        margin-left: auto;
    }
    img {
    	border-radius: 30px;
		//border: 3px solid $offblack;
		padding: 20px;
		background-color: $offblack;
		display: block;
        margin: 0 auto;
    }
    .section-body h2 {
    	font-weight: bold;
    }
}

@media only screen and (min-width: 767px) {
    #iDo h1 {
        font-size: 7vw;
    }
    header p {
        font-size: 10vw;
    }
    .section-body h2 {
    	font-size: 2vw;
    }

}
@media only screen and (max-width: 766px) {
    #iDo h1 {
        font-size: 13vw;
    }
    header p {
        font-size: 13vw;
    }
    .section-body h2 {
    	font-size: 5vw;
    }
}
