/* ------------ HEADER STYLES ------------ */

.background-image-container img {
        width: 100vw;
        background-size: cover;
        opacity: 0.2;
        position: absolute;
        overflow-x: hidden;
        background-position: center;
        background-clip: border-box;
        top: 0;
        left: 0;
}
/*
.bg-img {
    background-image: url("../../img/bgbw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    //opacity: 0.2;
    
}*/
.container {
    opacity: 1;
}

.skill-container {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
    display: block;
    height: 15vw;
    text-align: center;
    list-style-type: none;
    margin-left: 0;
    //width: 100%;
}

.skill-container li {
    position: relative;
    display: block;
}

.skill-container li:nth-child(1) {
    //left: 0;
}

.skill-container li:nth-child(2) {
    //left: 2000px;
    top: -10vw;
}

.skill-container li:nth-child(3) {
    //left: -2000px;
    top: -20vw;
}
/* ------------ iDo STYLES ------------ */

#iDo {
    background-color: $offwhite;
    color: $offblack;

    .content-container {
        padding-top: 40px;
    }
    .precontent {
        padding-bottom: 10px;
        
        p {
            font-size: 15px;
            text-align: center;
        }
        h1 {
            font-size: 7vw;
        }
    }
    h1 {
        text-align: center;
        font-weight: bold;
    }
    .section-body {
    	padding-top: 1vw;
    }
    @media only screen and (min-width: 768px) {
        .img-container {
            margin-right: auto;
            margin-left: auto;
            img {
            height: 100px;
            padding: 20px;
            }
        }
        p {
            font-size: 14px;
            text-align: center;
        }
    }
    @media only screen and (max-width: 767px) {
        .img-container {
            margin-top: 5px;
            margin-right: auto;
            margin-left: auto;
            img {
            height: 50px;
            padding: 10px;
            }
            
        }
        .text-center {
            margin-top: 0;
            font-size: 15px;
        }
        p {
            font-size: 10px;
            text-align: center;
        }
        .skill:nth-child(1) {
            
        }
        .skill:nth-child(2) {
        }
        .skill:nth-child(3) {
        }
    }
    img {
    	border-radius: 25%;
		//border: 3px solid $offblack;
		//padding: 20px;
		background-color: $offblack;
		display: block;
        margin: 0 auto;
    }
    .section-body h2 {
    	font-weight: bold;
    }
}

@media only screen and (min-width: 768px) {
    #iDo h1, #contact h1 {
        font-size: 7vw;
    }
    header li, header p {
        font-size: 10vw;
    }
    .section-body h2 {
    	font-size: 2vw;
    }

}
@media only screen and (max-width: 767px) {
    #iDo h1, #contact h1 {
        font-size: 13vw;
    }
    header li, header p {
        font-size: 13vw;
    }
    .section-body h2 {
    	font-size: 5vw;
    }
}

/* ------------ CONTACT STYLES ------------ */

#contact {
    
    height: 90vh;
    
    .content-container {
        padding: 40px;
    }
    h1 {
        text-align: center;
        font-weight: bold;
    }
    h2 {
        text-align: center;
    }
    p {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 30px;
    }
    .btn {
        margin-top: 50px;
        margin: 0 auto;
        text-transform: uppercase;
        border-radius: 0;
        border: none;
        background-color: $offwhite;
    }
    a:hover {
        text-decoration: none;
    }
    span.glyphicon {
        margin-right: 10px;
    }
    @media only screen and (max-width: 800px) {
        h2 {
            font-size: 5vw;
        }
        p {
            font-size: 2.5vw;
        }
    }
    @media only screen and (min-width: 801px) {
        h2 {
            font-size: 2.5vw;
        }
        p {
            font-size: 1vw;
        }
    }
}

/* ------------ FOOTER STYLES ------------ */

#pageFooter {
    height: 10vh;
    background: $offwhite;
    color: $offblack;
    
    p {
        text-align: center;
        padding-top: 3vh;
    }
    
}
