/* ------------ GLOBAL STYLES ------------ */
@font-face {
  font-family: Couture;
  src: url("../../fonts/couture-bld.otf"); }
* {
  font-family: 'Couture' ,'Montserrat', Helvetica, sans-serif; }

body {
  color: #F2F2F2;
  text-transform: uppercase;
  background-color: #171717;
  overflow-x: hidden; }

#pageHeader {
  padding-top: 50px;
  height: 100vh; }

section {
  height: 100vh; }

.full-width-on {
  width: 100vw; }

.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0; }

/* ------------ LOADER STYLES ------------ */
#loader {
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  position: fixed;
  background: #171717;
  display: table;
  transition: all .75s ease; }

#loader-container {
  display: table-cell;
  vertical-align: middle; }

#img-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#img-container img {
  height: 100px;
  width: 100px;
  padding: 20px;
  border-radius: 50%;
  border: 3px solid #F2F2F2;
  transition: all .75s ease;
  animation: loader .75s infinite; }

@keyframes loader {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/* ------------ NAVBAR STYLES ------------ */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar, .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  border-color: #171717;
  background-color: #171717; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #E5E5E5; }

.navbar-brand > img {
  display: inline;
  vertical-align: top; }

#mainNav li:hover .anim-underline {
  width: 85%; }

.anim-underline {
  border-top: 2px solid #F2F2F2;
  width: 0;
  margin: 0 auto;
  transition: width .5s ease;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10000; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  text-align: center; }

/*@keyframes underline {
    from {width: 0};
    to {width: 30px;}
}*/
/* ------------ STATUS STYLES ------------ */
.status-container {
  position: absolute;
  top: 60px;
  right: 3vw; }
  .status-container a .btn {
    color: #F2F2F2;
    text-transform: uppercase;
    text-decoration: none; }
  .status-container a .btn:hover {
    color: #E5E5E5;
    text-decoration: none; }
  .status-container .btn-default {
    background: #171717;
    border: none; }

.status-container .available {
  border-radius: 100%;
  background-color: #7FFF38;
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none; }

/* ------------ HEADER STYLES ------------ */
#pageHeader {
  text-align: center; }
  #pageHeader h1 {
    padding: 20px;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 10px;
    border: 3px solid #F2F2F2;
    text-align: center; }
  #pageHeader h2 {
    margin-top: 30px;
    font-size: .8em;
    letter-spacing: 5px;
    font-weight: bold; }
  #pageHeader .horule {
    margin-top: 7px;
    border-top: 2px solid #F2F2F2; }
  #pageHeader img {
    margin-left: auto;
    margin-right: auto; }
  #pageHeader li {
    line-height: 10vw;
    list-style-type: none; }
  #pageHeader p {
    padding-top: 20px;
    line-height: 10vw;
    list-style: none; }
  #pageHeader .header-tagline {
    display: block; }
  #pageHeader .header-down {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 48.5%; }
  #pageHeader a {
    color: #F2F2F2; }

@media only screen and (max-width: 480px) {
  #pageHeader h1 {
    font-size: 5vw;
    letter-spacing: 1.1vw; } }
@media only screen and (max-height: 500px) {
  #pageHeader div.header-tagline p, #pageHeader div.header-tagline li {
    display: none; } }
/* ------------ HEADER STYLES ------------ */
.background-image-container img {
  width: 100vw;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  overflow-x: hidden;
  background-position: center;
  background-clip: border-box;
  top: 0;
  left: 0; }

/*
.bg-img {
    background-image: url("../../img/bgbw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    //opacity: 0.2;
    
}*/
.container {
  opacity: 1; }

.skill-container {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 auto;
  display: block;
  height: 15vw;
  text-align: center;
  list-style-type: none;
  margin-left: 0; }

.skill-container li {
  position: relative;
  display: block; }

.skill-container li:nth-child(2) {
  top: -10vw; }

.skill-container li:nth-child(3) {
  top: -20vw; }

/* ------------ iDo STYLES ------------ */
#iDo {
  background-color: #F2F2F2;
  color: #171717; }
  #iDo .content-container {
    padding-top: 40px; }
  #iDo .precontent {
    padding-bottom: 10px; }
    #iDo .precontent p {
      font-size: 15px;
      text-align: center; }
    #iDo .precontent h1 {
      font-size: 7vw; }
  #iDo h1 {
    text-align: center;
    font-weight: bold; }
  #iDo .section-body {
    padding-top: 1vw; }
  @media only screen and (min-width: 768px) {
    #iDo .img-container {
      margin-right: auto;
      margin-left: auto; }
      #iDo .img-container img {
        height: 100px;
        padding: 20px; }
    #iDo p {
      font-size: 14px;
      text-align: center; } }
  @media only screen and (max-width: 767px) {
    #iDo .img-container {
      margin-top: 5px;
      margin-right: auto;
      margin-left: auto; }
      #iDo .img-container img {
        height: 50px;
        padding: 10px; }
    #iDo .text-center {
      margin-top: 0;
      font-size: 15px; }
    #iDo p {
      font-size: 10px;
      text-align: center; } }
  #iDo img {
    border-radius: 25%;
    background-color: #171717;
    display: block;
    margin: 0 auto; }
  #iDo .section-body h2 {
    font-weight: bold; }

@media only screen and (min-width: 768px) {
  #iDo h1, #contact h1 {
    font-size: 7vw; }

  header li, header p {
    font-size: 10vw; }

  .section-body h2 {
    font-size: 2vw; } }
@media only screen and (max-width: 767px) {
  #iDo h1, #contact h1 {
    font-size: 13vw; }

  header li, header p {
    font-size: 13vw; }

  .section-body h2 {
    font-size: 5vw; } }
/* ------------ CONTACT STYLES ------------ */
#contact {
  height: 90vh; }
  #contact .content-container {
    padding: 40px; }
  #contact h1 {
    text-align: center;
    font-weight: bold; }
  #contact h2 {
    text-align: center; }
  #contact p {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px; }
  #contact .btn {
    margin-top: 50px;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    background-color: #F2F2F2; }
  #contact a:hover {
    text-decoration: none; }
  #contact span.glyphicon {
    margin-right: 10px; }
  @media only screen and (max-width: 800px) {
    #contact h2 {
      font-size: 5vw; }
    #contact p {
      font-size: 2.5vw; } }
  @media only screen and (min-width: 801px) {
    #contact h2 {
      font-size: 2.5vw; }
    #contact p {
      font-size: 1vw; } }

/* ------------ FOOTER STYLES ------------ */
#pageFooter {
  height: 10vh;
  background: #F2F2F2;
  color: #171717; }
  #pageFooter p {
    text-align: center;
    padding-top: 3vh; }

/*# sourceMappingURL=style.css.map */
