/* ------------ GLOBAL STYLES ------------ */
body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: #F2F2F2;
  text-transform: uppercase;
  background-color: #171717; }

#pageHeader {
  padding-top: 50px;
  height: 100vh; }

section {
  height: 100vh; }

.full-width-on {
  width: 100vw; }

/* ------------ LOADER STYLES ------------ */
#loader {
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  position: fixed;
  background: #171717;
  display: table;
  transition: all .75s ease; }

#loader-container {
  display: table-cell;
  vertical-align: middle; }

#img-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#img-container img {
  height: 100px;
  width: 100px;
  padding: 20px;
  border-radius: 50%;
  border: 3px solid #F2F2F2;
  transition: all .75s ease;
  animation: loader .75s infinite; }

@keyframes loader {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/* ------------ NAVBAR STYLES ------------ */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar, .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  border-color: #171717;
  background-color: #171717; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #E5E5E5; }

.navbar-brand > img {
  display: inline;
  vertical-align: top; }

#mainNav li:hover .anim-underline {
  width: 85%; }

.anim-underline {
  border-top: 2px solid #F2F2F2;
  width: 0;
  margin: 0 auto;
  transition: width .5s ease;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10000; }

/*@keyframes underline {
    from {width: 0};
    to {width: 30px;}
}*/
/* ------------ HEADER STYLES ------------ */
#pageHeader {
  text-align: center; }
  #pageHeader h1 {
    padding: 20px;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 10px;
    border: 3px solid #F2F2F2;
    text-align: center; }
  #pageHeader h2 {
    margin-top: 30px;
    font-size: .8em;
    letter-spacing: 5px;
    font-weight: bold; }
  #pageHeader .horule {
    margin-top: 7px;
    border-top: 2px solid #F2F2F2; }
  #pageHeader img {
    margin-left: auto;
    margin-right: auto; }
  #pageHeader p {
    padding-top: 20px;
    font-size: 9vw;
    line-height: 9vw; }
  #pageHeader .header-tagline {
    display: block; }
  #pageHeader .header-down {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 48.5%; }
  #pageHeader a {
    color: #F2F2F2; }

@media only screen and (max-width: 480px) {
  #pageHeader h1 {
    font-size: 5vw;
    letter-spacing: 1.1vw; } }
/* ------------ HEADER STYLES ------------ */
.background-image-container img {
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  overflow: hidden; }

.skill-container span {
  position: relative;
  display: block; }

.skill-container span[class="next"] {
  left: 2000px;
  z-index: 5; }

.skill-container span[class="previous"] {
  left: -2000px;
  z-index: 10; }

/* ------------ iDo STYLES ------------ */
#iDo {
  background-color: #F2F2F2;
  color: #171717; }
  #iDo h1 {
    padding-top: 40px;
    text-align: center;
    font-size: 7vw;
    font-weight: bold; }
  #iDo .section-body {
    padding-top: 50px; }
  #iDo .img-container {
    margin-right: auto;
    margin-left: auto; }
  #iDo img {
    border-radius: 30px;
    padding: 20px;
    background-color: #171717;
    display: block;
    margin: 0 auto; }
  #iDo .section-body h2 {
    font-size: 30px;
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
